<p id="notice"><%= notice %></p>

<p>
  <b>Celebrity:</b>
  <%= @twitter_count.celebrity_id %>
</p>

<p>
  <b>Followers:</b>
  <%= @twitter_count.followers %>
</p>

<p>
  <b>Following:</b>
  <%= @twitter_count.following %>
</p>

<p>
  <b>Tweets:</b>
  <%= @twitter_count.tweets %>
</p>


<%= link_to 'Edit', edit_twitter_count_path(@twitter_count) %> |
<%= link_to 'Back', twitter_counts_path %>
