<%= simple_form_for(@celebrity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :aka %>
    <%= f.input :dob %>
    <%= f.input :birth_place %>
    <%= f.input :gender %>
    <%= f.input :race %>
    <%= f.input :orientation %>
    <%= f.input :occupation %>
    <%= f.input :political_affiliation %>
    <%= f.input :nationality %>
    <%= f.input :description %>
	<%= f.input :twitter %>
    <%= f.input :facebook %>
    <%= f.input :website %>
    <%= f.input :blog %>
    <%= f.input :youtube %>
    <%= f.input :flickr %>
    <%= f.input :wikipedia %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
