<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Famemonitor" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Famemonitor" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
	<style> 
    	body { padding-top: 105px; }
    	footer{
      /*background-color:rgba(251,251,251,1);*/	
      /*position:fixed;*/
      bottom:0;left:0;right:0;
      z-index:400;
      border-top:1px rgba(233,233,233,1) solid;
    }
    </style>
<meta name="google-site-verification" content="x2spx7CNlUWLGx9vZdty8XBAReUrP1Yz99r_6mhSDs0" />
  </head>
  <body>
	<div class="frontLayer">
		<%= render 'layouts/top_header' %>
	  <%#= render 'layouts/header' %>
	  <%= render 'layouts/subheader' %>
		<section id="mainContainer" class="container-fluid" style ="margin-top:40px">
		  <div class="row-fluid">
			<div class="span2 sideBar position-fixed">			  
			  <!-- Navigation -->
			<%= render 'layouts/sidebar' %>
			  <!-- end Navigation -->
			</div>
			<div class="span10 content borBox" style="height: auto;overflow:hidden;margin-left:230px">
				<%#= render 'layouts/messages' %>
				<%= yield %>
			</div>
		  </div>
		</section>
	<%#= render 'layouts/footer' %>
	</div>
	<script>
	$('.dropdown-toggle').dropdown()
	</script>
	<footer></footer>
  </body>
</html>