<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Famemonitor" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Famemonitor" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
         <img src="/assets/logo.png">
		 <ul class="nav pull-right">
		                    <li id="fat-menu" class="dropdown">
		                      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Language: English <b class="caret"></b></a>
		                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
		                        <li><a tabindex="-1" href="#">French</a></li>
		                        <li><a tabindex="-1" href="#">German</a></li>
		                        <li><a tabindex="-1" href="#">Spanish</a></li>
		                      </ul>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
       </div>
           
              <%= render 'layouts/messages' %>
              <%= yield %>
         
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
<script>
$('.dropdown-toggle').dropdown()

</script>
  </body>
</html>