<!-- <img src="/assets/papa_back.jpg" class="virtualBg" /> -->
<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Famemonitor" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Famemonitor" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
	  <style> 
    	body { padding-top: 105px; }
    	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
} [class^="icon-"], [class*=" icon-"] {
  vertical-align:middle ;
  background-image:none;
  display:inline;
}
    </style>
    <meta name="google-site-verification" content="x2spx7CNlUWLGx9vZdty8XBAReUrP1Yz99r_6mhSDs0" />
  </head>
  <body>
  <%= render 'layouts/top_header' %>
	<%= yield %>
    <footer></footer>
  </body>
</html>

